<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Shopping Cart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Products <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Cart</a>
                </li>
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Orders</a>
                </li>
                {{/if}}
            </ul>
<div class="dropdown">
  <button class="btn btn-warning dropdown-toggle mr-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{#if user}}
        {{user.Name}}
        {{else}}
        Account
    {{/if}}

  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {{#if user}}
        <button class="btn btn-warning"><a class="dropdown-item" href="/logout">Logout</a></button>
        {{else}}
        <button class="btn btn-warning mb-2" style="border-radius:2px"><a class="dropdown-item" href="/login">Login</a></button>
        <button class="btn btn-warning" style="border-radius:2px;width:7.1rem"><a class="dropdown-item" href="/signup">Signup</a></button>
    {{/if}}
    
   
  </div>
</div>
        </div>
    </nav>
</header>